* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(212, 243, 255);

    .messageErreur {
        color:red;
    }

}
.userTable{
    table-layout: fixed;
    th, td{
        border: 2px solid black;
        padding: 5px;
    }
    border-collapse: collapse;
}

body {
  background-image: url('BladeRunner:JohnWick.png');
  background-size: cover;        /* Pour que l'image couvre tout l'écran */
  background-position: center;   /* Centrer l'image */
  background-repeat: no-repeat;  /* Ne pas répéter l'image */
 background-color: rgb(23, 13, 13);
}
